:root {
    --grey-1: #dddddd;
    --grey-2: #8c8c8c;
    --grey-3: #2f2f2f;
    --red-1: rgba(255,0,0,0.5);
    --black-1: rgba(0,0,0,0.5);
    --yellow-1: #e5bd15;
    --green-1: #00c229;
    --button-f-size: 16px;
    --button-f-weight: bold;
    --button-l-height: 32px;
    --height-value: 32px;
}
html, body {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    image-rendering: pixelated;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    transform: scale(2,2);
}

button {

    position: relative;
    display: block;
    padding: 5px;
    margin: 10px 0;
    min-width: 128px;
}

#play-pause-button {

    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

#fps-label {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
    width: 200px;
    text-align: right;
    color: white;
    font-size: 32px;
}